{% extends 'nav_bar.html' %}{% block cool %}

<h1>Your Payment Types</h1>
<a href="{% url 'website:payment_new'%}">Add A New Payment Type</a>

{% for payment in payments %}
{% if payment.customer_id_id == user.customer.id  %}
<div class="payment">
    <a href="{% url 'website:payment_detail' pk=payment.id %}">Payment Number {{payment.account_number}}</a>
    <a href="{% url 'website:payment_update' pk=payment.id %}">Update</a>
    {% endif %}
    {% comment %}

    {% if payment.has_been_assigned == False %}
    <a href="{% url 'computer_delete' pk=computer.pk %}">Delete</a>

    {% endif %}
    {% endcomment %}
</div>
{% endfor %} {% endblock %}
