<nav>
    <form action="/website/" method='get'>
    <input type="submit" value="Home">
    </form>

    <form action="/website/employees" method='get'>
    <input type="submit" value="Employees">
    </form>

    <form action="/website/departments" method='get'>
    <input type="submit" value="Departments">
    </form>

    <form action="/website/computers" method='get'>
    <input type="submit" value="Computers">
    </form>

    <form action="/website/training_programs" method='get'>
    <input type="submit" value="Training Programs">
    </form>
</nav>