{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'website/navbar.css' %}">

<nav>
        <form action="/" method='get'>
        <input type="submit" value="Home">
        </form>

        <input type="search" placeholder="Search">

        <form action="/website/all_products" method='get'>
        <input type="submit" value="All Products">
        </form>
        {% if user.is_authenticated %}
        <form action="/website/sell_a_product" method='get'>
        <input type="submit" value="Sell A Product">
        </form>
        {% endif %}
        <form action="/website/notifications" method='get'>
        <input type="submit" value="Notifications">
        </form>
        {% if user.is_authenticated %}
        <div>
            <form action="/website/my_account" method='get'>
            <input type="submit" value="My Account">
                <ul>
                    <li>
                        <form action="/website/my_products">
                        <input type="submit" value="My Products">
                        </form>
                    </li>
                    <li>
                        <form action="/website/order_history">
                        <input type="submit" value="Order History">
                        </form>
                    </li>
                    <li>
                        <form action="/website/payment">
                        <input type="submit" value="Payments">
                        </form>
                    </li>
                </ul>
            </form>
        </div>
        <a href="{% url 'website:logout' %}">Logout</a>
        {% else %}
        <div><a href="{% url 'website:login' %}">Login/Register</a></div>
        {% endif %}
    </nav>

    {% comment %}
    <nav>
        <a href="{% url 'website:index' %}">Home</a>

        <input type="search" placeholder="Search">
        <a href="{% url 'website:all_products' %}">All Products</a>
        <a href="{% url 'website:sell_a_products' %}">Sell A Product</a>
        <a href="{% url 'website:notifications' %}">Notifications</a>
        {% if user.is_authenticated %}
        <div class="dropdown_nav">
            <a href="{% url 'website:my_account' %}">My Account</a>
            <div class="dropdown_content">
                <a href="{% url 'website:my_products' %}">My Products</a>
                <a href="{% url 'website:order_history' %}">Order History</a>
                <a href="{% url 'website:payment' %}">Payment</a>
            </div>
        </div>
        <a href="{% url 'website:logout' %}">Logout</a>
        {% else %}
        <div><a href="{% url 'website:login' %}">Login/Register</a></div>
        {% endif %}
    </nav>
    {% endcomment %}